*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  height: 100px;
}
ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}
ul a{
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  color: #12100CB2;
  text-decoration: none;
}
ul button{
  width: 80px;
  height: 32px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
  background: black;
  border-radius: 10px;
}